---
layout: default
title: Recipes with Angular.js
---

<div class="row">
  <div class="large-12 columns">
    <!-- <h1>Welcome to Recipes with Angular.js</h1> -->
    <p>A community project dedicated to collecting resources for the <a href="http://angularjs.org/">Angular.js</a> framework. You find here easy to follow cookbook style recipes for issues you are likely to face when working with Angular.js.</p>

    <p><a href="http://angularjs.org/">Angular.js</a> is the superheroic Javascript MVW framework developed by Google.</p>
  </div>
</div>

<br>

<div class="row">
  <div class="large-6 columns">
    <h3>Latest Updates</h3>
    <ul>
      {% for page in site.pages reversed limit:10 %}
        {% if page.chapter %}
          <li>
            <a href="{{ site.baseurl }}{{page.url}}">{{page.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="large-6 columns">
    <div class="row panel">
      <div class="large-12 columns">
        <h3>Support me and buy the book!</h3>
      </div>
      <div class="large-4 columns">
        <a href="https://leanpub.com/recipes-with-angular-js"><img src="{% asset_path book-medium.png %}" alt="" width="200px"></a>
      </div>
      <div class="large-8 columns">
        <h5>Recipes with Angular.js</h5>
        <h5 class="subheader">Practical concepts and techniques for rapid web application development <span class="author">by <a href="mailto: fdietz@gmail.com">Frederik Dietz</a></span></h5>


        <a class="button small" href="https://leanpub.com/recipes-with-angular-js">Learn More</a>
        <div class="clearfix"></div>
        <a class="button small success" href="https://leanpub.com/recipes-with-angular-js/purchases/new">Buy on Leanpub</a>
        <a class="button small success" href="http://www.amazon.com/dp/B00DK95V48">Buy on Amazon</a>

      </div>
    </div>
  </div>
</div>