---
layout: default
title: Recipes with Angular.js
---
<ul class="breadcrumbs">
  <li><a href="{{ site.baseurl }}">Home</a></li>
</ul>

<h2>Table of Contents</h2>
<ol>
  <li>
    <a href="{{ site.baseurl }}/introduction.html">Introduction</a>

    <ul>
      {% sorted_for page in site.pages | sort_by:order %}
        {% if page.chapter == "introduction" %}
          <li>
            <a href="{{ site.baseurl }}{{page.url}}">{{page.title}}</a>
          </li>
        {% endif %}
      {% endsorted_for %}
    </ul>
  </li>

  <li>
    <a href="{{ site.baseurl }}/controllers/html">Controllers</a>
    <ul>
      {% sorted_for page in site.pages | sort_by:order %}
        {% if page.chapter == "controllers" %}
          <li>
            <a href="{{ site.baseurl }}{{page.url}}">{{page.title}}</a>
          </li>
        {% endif %}
      {% endsorted_for %}
    </ul>
  </li>

  <li>
    <a href="{{ site.baseurl }}/directives.html">Directives</a>
    <ul>
      {% sorted_for page in site.pages | sort_by:order %}
        {% if page.chapter == "directives" %}
          <li>
            <a href="{{ site.baseurl }}{{page.url}}">{{page.title}}</a>
          </li>
        {% endif %}
      {% endsorted_for %}
    </ul>
  </li>

  <li>
    <a href="{{ site.baseurl }}/filters.html">Filters</a>
  </li>
</ol>