---
layout: default
title: Recipes with Angular.js
---
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
</ul>

<h2>Table of Contents</h2>
<ol>
  <li>
    <a href="introduction">Introduction</a>

    <ul>
      {% sorted_for page in site.pages | sort_by:order %}
        {% if page.chapter == "introduction" %}
          <li>
            <a href="{{page.url}}">{{page.title}}</a>
          </li>
        {% endif %}
      {% endsorted_for %}
    </ul>
  </li>

  <li>
    <a href="controllers">Controllers</a>
    <ul>
      {% sorted_for page in site.pages | sort_by:order %}
        {% if page.chapter == "controllers" %}
          <li>
            <a href="{{page.url}}">{{page.title}}</a>
          </li>
        {% endif %}
      {% endsorted_for %}
    </ul>
  </li>

  <li>
    <a href="directives">Directives</a>
    <ul>
      {% sorted_for page in site.pages | sort_by:order %}
        {% if page.chapter == "directives" %}
          <li>
            <a href="{{page.url}}">{{page.title}}</a>
          </li>
        {% endif %}
      {% endsorted_for %}
    </ul>
  </li>

  <li>
    <a href="filters">Filters</a>
  </li>
</ol>