$dark-green: #2A3744;
$blue-dark: #007FFF;
$blue-light: lighten(#198CFF, 10%);
$blue-lighter: #6FB6FF;

$orange-dark: #B27000;
$orange-light: #FFA000;


$black: lighten(#000, 30%);

$top-bar-black: #333;

$primary-color: $blue-light;
$secondary-color: $orange-light;

$footer-bg: #efefef;