$dark-green: #2A3744;
// $blue-dark: #004CFF;
$blue-dark: #07a;

// $blue-light: #195EFF;
$blue-light: lighten($blue-dark, 20%);

$blue-lighter: #6FB6FF;

$orange-dark: #B27E00;
$orange-light: #FFB300;


$black: lighten(#000, 10%);

$top-bar-black: #333;

$primary-color: $blue-light;
$secondary-color: $orange-light;

$footer-bg: #efefef;

$gray-blue-mel-style: rgba(43, 74, 140, 0.52);

$gray-blue: #2c3240;