---
layout: default
---

<ul class="breadcrumbs">
  <li><a href="{{ site.baseurl }}">Home</a></li>
  <li><a href="{{ site.baseurl }}/{{ page.chapter }}">{{ page.chapter }}</a></li>
  <li class="current">{{page.title}}</li>
</ul>

<div class="recipe-actions">
  {% if page.source_path %}
    {% jsfiddle %}
  {% endif %}
</div>

<h2>{{page.title}}</h2>

{{ content }}

<div class="panel radius similar-pages">
  <h4>Similar Recipes</h4>
  <ul>
    {% sorted_for similar_page in site.pages %}
      {% if similar_page.chapter == page.chapter %}
        <li>
          <a href="{{ site.baseurl }}{{similar_page.url}}">{{similar_page.title}}</a>
        </li>
      {% endif %}
    {% endsorted_for %}
  </ul>
</div>
